<header>
  <a href="https://www.mardom.com/">
    <img src="../assets/logo.png" alt="Logo Maritima Dominicana" width="150" />
  </a>
</header>
<section>
  <h1>Empleados</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Documento</th>
        <th>Salario</th>
        <th>Genero</th>
        <th>Posicion</th>
        <th>Fecha de inicio</th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employees; track employee.document) {
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.document }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.startDate }}</td>
      </tr>
      }
    </tbody>
  </table>
</section>
