<header>
  <div class="header-left">
    <a href="https://www.mardom.com/">
      <img
        src="../assets/logo.png"
        alt="Logo Maritima Dominicana"
        width="150"
      />
    </a>
  </div>
  <div class="header-right">
    <a href="/">Empleados</a>
    <a href="#">Agregar Empleado</a>
    <a href="#">Actualizar Empleado</a>
    <a href="#">Eliminar Empleado</a>
  </div>
</header>
<section>
  <h1>Lista de Empleados</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Documento</th>
        <th>Salario</th>
        <th>Genero</th>
        <th>Posicion</th>
        <th>Fecha de inicio</th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employees; track employee.document) {
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.document }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.startDate }}</td>
      </tr>
      }
    </tbody>
  </table>
</section>
<footer>
  <div class="footer">
    <div class="row">
      <a href="https://www.linkedin.com/in/enmanuel-ure%C3%B1a-a47480211/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://github.com/EnmanuelUrena/prueba-tecnica-mardom-frontend" target="_blank"><i class="fa fa-github"></i></a>
    </div>
    <div class="row">
      <ul>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Nuestros servicios</a></li>
        <li><a href="#">Politica de Privacidad</a></li>
        <li><a href="#">Terminos y condiciones</a></li>
      </ul>
    </div>
    <div class="row">
      Copyright © 2024 - Enmanuel Urena
    </div>
  </div>
</footer>
